.flex-container{
    display: flex;
}

.description-box{
    /* border: 1px; */
    /* border-style: solid;
    border-color: brown; */
    height: 850px;
    width: 350px;
    background-color: rgb(71, 71, 71);
    /*border-radius: 10%;*/
    margin-right: 10px;
}

.picture{
    margin-left: 100px;

}

.about{
    color: whitesmoke;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.description{
    color: whitesmoke;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.links{
    
    color: whitesmoke;
    
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.experience{
    /* border: 1px; */
    /* border-style: solid;
    border-color: brown; */
    height: 850px;
    width: 850px;
    background-color: rgb(239, 239, 239);
    /*border-radius: 10%;*/
    margin-right: 10px;
}